<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->

    <!-- /.navbar -->

    <!-- Main Sidebar Container -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Agregar Producto</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Project Add</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- MAIN -->
      <!--Agregar Variantes de productos -->
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Agregar</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <form action="/" method="POST" encType="multipart/form-data">
                <div class="card-body">
                  <div class="form-group">
                    <label for="inputName">Nombre del producto</label>
                    <input type="text" id="nameproduct" name="nameproduct" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="inputDescription">Descripcion del producto</label>
                    <textarea id="description" name="description" class="form-control" rows="4"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="inputClientCompany">Precio</label>
                    <input type="text" id="price" name="price" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="inputCategory">Categoria</label>
                    <input type="text" id="category" name="category" class="form-control">
                  </div>
                </div>
                <!-- /.card-body -->
            </div>
            <button type="submit" class="btn btn-success float-right" value="Save"> Agregar Producto</button>
            <!--
           <input type="submit" value="Crear Producto" class="btn btn-success float-right">
           -->
            </form>
            <!-- /.card -->
          </div>
          <div class="col-md-6">
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Borrar</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <form method="POST" action="/delete-product/" encType="multipart/form-data">
                  <div class="form-group">
                    <label for="inputStatus">Producto</label>
                    <select id="inputStatus2" class="form-control custom-select" name="product_Id_delete">
                      <option selected disabled>Seleccionar producto</option>
                      {{#each query}}
                      {{#dataValues}}
                      <option value="{{ id }}">{{title}}</option>
                      {{/dataValues}}
                      {{/each }}
                    </select>
                  </div>
                  <button type="submit" class="btn btn-danger float-right" value="Save"> Borrar Producto</button>
                </form>
              </div>

              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Colores disponibles del Producto</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!--  Este card es para agregar la variante de color-->
              <form  id="color_form" action="/add-variant/color/" method="POST" encType="multipart/form-data">
                <div class="card-body">
                  <div class="form-group">

                    <div class="form-group">
                      <label for="inputStatus">Producto</label>
                      <select id="inputStatusColor" required class="form-control custom-select" name="product_id">
                        <option selected value="null">Seleccionar Uno</option>
                        {{#each query}}
                          {{#dataValues}}
                        <option value="{{ id }}">{{title}}</option>
                          {{/dataValues}}
                        {{/each }}
                      </select>
                    </div>
                    <!-- Esta es el input de color -->
                    <div class="form-group" id="color">
                      <label for="inputClientCompany">Color</label>
                      <input type="color" name="variant_color" class="form-control">
                    </div>
                    <!-- Este va a ser el input de la imagen -->
                    <h3>Subir foto del producto</h3>
                    <input type="file" required name="sampleFile" accept="image/*" />
                   
                  </div>
                  <!-- /.card-body -->
                </div>
                
                <!--
           <input type="submit" value="Crear Producto" class="btn btn-success float-right">
           -->
              
              <!-- /.card -->
            </div>
            <button type="submit" class="btn btn-success float-right" value="Save"> Agregar Color</button>
            </form>

          </div>
          </div>

          <!-- Este es el tercer modal para poder crear variantes de talla -->
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Tallas disponibles del Producto</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <form action="/add-variant/size/" method="POST" encType="multipart/form-data">
                <div class="card-body">
                  <div class="form-group">

                     <div class="form-group">
                      <label for="inputStatus">Producto</label>
                      <select id="inputStatusColor" required class="form-control custom-select" onchange="getColor(this);"name="product_id">
                        <option selected value="null">Seleccionar Uno</option>
                        {{#each query}}
                          {{#dataValues}}
                        <option value="{{ id }}">{{title}}</option>
                          {{/dataValues}}
                        {{/each }}
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="inputStatus">Color</label>
                      <select class="form-control custom-select" id="variant_color_id" name="variant_color_id">
                        <option selected disabled id="option-disabled">Seleccionar Uno</option>
                                          
                    
                      </select>
                    </div>
                    <!-- Esta es el input de talla -->
                    <div class="form-group" id="size">
                      <label for="inputClientCompany">Talla</label>
                      <input type="text" name="variant_size" class="form-control">
                    </div>
                    <!-- Este va a ser el input del stock -->
                <div class="form-group" id="stock">
                      <label for="inputClientCompany">Stock</label>
                      <input type="number" name="stock" class="form-control">
                    </div>
                  </div>
                  <!-- Este va a ser para el codebar -->
                   <div class="form-group" id="codebar">
                      <label for="inputClientCompany">Codigo de Barras</label>
                      <input type="text" name="codebar" class="form-control">
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                
                <!--
           <input type="submit" value="Crear Producto" class="btn btn-success float-right">
           -->
              
              <!-- /.card -->
              <button type="submit" class="btn btn-success float-right" value="Save"> Agregar Talla</button>
            </div>
            
            </form>

          </div>
        
          <!-- 
      <div class="row">
        <div class="col-12">
          <a href="#" class="btn btn-secondary">Cancelar</a>
          <input type="submit" value="Crear Producto" class="btn btn-success float-right">
        </div>
      </div>
      -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.2.0-rc
      </div>
      <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->

  <script>
    var form= document.querySelector("#color_form")
    form.addEventListener("submit", function(e){
      var color= document.querySelector("#inputStatusColor")
      if (color.value === "null"){
        e.preventDefault()
        alert("Lo siento debe seleccionar el producto")

      }
      
    })

 
    </script>

 <script>
  /* 
   window.onload= function(){
     fetch("api/variant/")
     .then(res => res.json())
     .then(data => {

       var products= data.products;
       var colors= data.colors;
       colors.map(function(obj) {
         //Luego debemos conseguir el index 
         let index;
         for(let i=0; i<products.length; i++){
            if(products[i].id == obj.productId){
              index= i;
              break
            }
         }
         var text= products[index].title + " " + obj.color;
         var option= document.createElement("option");
         option.innerText= text;
         option.value= obj.id;
         option.style.color= obj.color;
         document.querySelector("#variant_color_id").appendChild(option);


       })
     })


   }
   */
   function getColor(obj){
     console.log(obj)
     fetch("/api/variant/" + obj.value)
     .then(res => res.json())
     .then(data => {
       document.querySelector("#variant_color_id").innerHTML= ""
       for(const i in data.colors){
         var option= document.createElement("option");
         option.innerText= "Color: " + data.colors[i].color;
         option.value= data.colors[i].id;
         option.style.color= data.colors[i].color;
         document.querySelector("#variant_color_id").appendChild(option);
       }

     })
   }

 </script> 

</body>

</html>